# Visual Studio
**/.vs/
**/.vs/*
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
TestResults/
[Bb]uild/
[Ll]og/

# NuGet
*.nupkg
packages/
*.snupkg

# Resharper / Rider
.idea/
*.DotSettings.user

# Others
*.log
*.tmp

# OS generated
.DS_Store
Thumbs.db

# Windows specific
desktop.ini
